<div class="m-login__signin">
    <div class="m-login__head m-top-login ">
        <h3 class="m-title m-login-title">
            <span> Sign in to your workspace</span>
        </h3>
    </div>
    <form class="m-login__form m-form" #loginForm="ngForm" novalidate>
        <div class="login-form">
            <p>
                <ngb-alert *ngIf="!errorMessageClosed" [type]="'danger'" (close)="errorMessageClosed = true">
                    {{errorMessage}}
                </ngb-alert>
            </p>
            
            <div class='signup_success_msg form-group m-form__group row' *ngIf="isSignupSuccessMsg">
                <span class="signup_success_title">Thanks for signing up to Kumolus</span>
                <div class="x"><i class="fa fa-times signup_success_close" (click)="closeMsg()"></i></div>
                <p class="">You will receive an email, please confirm your email address by clicking on the link.</p>
            </div>
                                   
            <div class="form-group m-form__group row" [ngClass]="{'has-danger': subdomain.invalid && subdomain.dirty, 'has-success': subdomain.valid }">
                <div class="input-group">
                    <input class="form-input" placeholder="Enter Yoursitename" type="text" name="subdomain"
                        [(ngModel)]="model.subdomain" (ngModelChange)="model.subdomain = $event.toLowerCase()" #subdomain="ngModel"  required>
                    <span class="input-group-addon">.kumolus.net</span>
                </div>
                <div [hidden]="subdomain.valid || subdomain.pristine"
 						*ngIf="subdomain && subdomain.invalid && (subdomain.dirty || subdomain.touched)"
 						class="form-control-feedback">
                        <div *ngIf="subdomain.errors.required">
                            Please enter the sitename.
                        </div>
 				</div>
            </div>
            <div class="row">
                <label for="subdomain" class="col-12 col-form-label workspace-label workspace-center">
                    OR
                </label>
            </div>
            <div class="form-group m-form__group row" [ngClass]="{'has-danger': username_or_email.invalid && username_or_email.dirty, 'has-success': username_or_email.valid }">
                <input class="form-input" type="text"  placeholder="Enter  Username / Email" name="username_or_email"
                    [(ngModel)]="model.username_or_email" [pattern]="appliedPattern" (ngModelChange)="(model.username_or_email = $event.toLowerCase()) && validateUsernameOrEmail($event)" id="username_or_email" #username_or_email="ngModel" required>
                <div [hidden]="username_or_email.valid || username_or_email.pristine"
                    *ngIf="username_or_email && username_or_email.invalid && (username_or_email.dirty || username_or_email.touched)"
                    class="form-control-feedback">
                    <div *ngIf="isUsernamePattern && username_or_email.errors.required">
                        Please enter the username or email.
                    </div>
                    <div *ngIf="isUsernamePattern && username_or_email.errors.pattern">
                        Username must be alphabetic only.
                    </div>
                    <div *ngIf="!isUsernamePattern && username_or_email.errors.pattern">
                        Please enter the correct email id.
                    </div>
                </div>        
            </div>
            <div class="m-login__form-action">
                    <button  class="m-btn-form" id="m_login_signin_submit" [ngClass]="{'m-loader m-loader--right m-loader--light': loading,'submit-disabled': !(subdomain.valid|| username_or_email.valid) }" type="submit" [disabled]="!(subdomain.valid || username_or_email.valid)" 
                        (click)="onSubmit()">
                        Continue 
                    </button>
            </div>
          
        </div>
    </form>
    <ng-template #content let-modal let-close="close">
        <div class="modal-header">
            <button type="button" class="close anchor-span" aria-label="Close" (click)="close('Cross click')" style="cursor: pointer">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title" id="urlModal">Select workspace</h5>
        </div>
        <div class="modal-body">
            <ul>
                <li *ngFor = "let url of returnUrls">
                    <button class="btn btn-success btn-group-sm" type="button" (click) = "redirect(url)">{{url}}</button>
                </li>
            </ul>
        </div>
    </ng-template>
</div>

