<div class="m-login_signup">
    <div class="container">
        <h1 class="punchline"><span>Sign in to your workspace</span></h1>
        <div class="row">
            <div class="col-md-7 small-centered">
                <form class="m-form" #loginForm="ngForm" novalidate>
                    <div class="form-group m-form__group row">
                        <label for="subdomain" class="col-3 col-form-label workspace-label">
                            Yoursitename
                        </label>
                        <div class="col-9">
                            <div class="input-group">
                                <input class="form-input form-control" type="text" name="subdomain"
                                    [(ngModel)]="model.subdomain" id="subdomain" required>
                                <span class="input-group-addon" style="height: 37px;">.kumolus.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label for="subdomain" class="col-12 col-form-label workspace-label workspace-center">
                            OR
                        </label>
                    </div>
                    <div class="form-group m-form__group row">
                        <label for="subdomain" class="col-3 col-form-label workspace-label">
                            Username / Email 
                        </label>
                        <div class="col-9">
                            <div class="input-group">
                                <input class="form-input form-control" type="text" name="username_or_email"
                                    [(ngModel)]="model.username_or_email" id="username_or_email" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group workspace_bottom_space row">
                        <label class="col-3 col-form-label">
                        </label>
                        <div class="col-9" >
                            <button class="btn btn-primary btn-group-sm" type="button" [disabled]="!(model.username_or_email || model.subdomain)"
                                (click)="onSubmit(loginForm.form)">
                                Continue
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ng-template #content let-modal let-close="close">
        <div class="modal-header">
            <h5 class="modal-title" id="urlModal">Select workspace</h5>
        </div>
        <div class="modal-body">
            <ul>
                <li *ngFor = "let url of returnUrls">
                    <button class="btn btn-success btn-group-sm" type="button" (click) = "redirect(url)">{{url}}</button>
                </li>
            </ul>
        </div>
    </ng-template>
</div>