
<!-- <router-outlet></router-outlet> -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin m-color m-login-page-height"
 id="m_login">
	<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside m-center">
		<div class="m-stack m-stack--hor m-stack--desktop">
			<div class="m-stack__item m-stack__item--fluid">
				<div class="m-login__wrapper">
					<div class="m-login__logo">
						<a href="" routerLink="/login">
							<img src="./assets/app/media/img//logos/logo.png">
						</a>
					</div>

					<router-outlet></router-outlet>

				</div>
			</div>
		</div>
	</div>

</div>

