.submit-disabled{
    background-color: #b4d0d4;
    cursor: auto;
}
.site-name {
    height: 32px;
}
.form-input {
    padding: 0px 8px;
  
}
select {
    color: #575962;
    background: white;
    background-color: white;
}