<div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
  <div class="m-stack m-stack--ver m-stack--desktop inner-banner m-nav-top">
    <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
      <h1 class="text-center">About Kumolus</h1>
      <p class="text-center m-about-text">Learn about Kumolus</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-6">
      <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                About Us
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
            <span class="m-about-sub">
              The Kumolus Cloud Management Platform enables organizations to gain access to cloud services to deliver IT agility while
              maintaining enterprise control
            </span>
            <span class="m-about-sub">
              Founded by Michael Salleo and Josh McGrath in 2012, the Kumolus Cloud Management Platform was released in 2016.
            </span>
            <span class="m-about-sub">
              Kumolus is headquartered in Melbourne, Australia with offices in Asia and a growing network of global partners.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                Recent News
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="col-md-12 col-lg-12 col-sm-12">
            <ngb-carousel>
              <ng-template ngbSlide>
                <div class="row">
                  <div class="col-md-6">
                    <img class="m-slider-img" src="assets/app/media/img/sitemodule/defaultfornews.png" alt="Random second slide">
                  </div>
                  <div class="col-md-6">
                    <div>
                      <span class="m-about-sub">29 Jun 2017 - </span>
                      <a href="https://blog.kumolus.com/2017/06/29/customer-success-story-monash-university/" target="_blank">Customer Success Story – Monash University</a>
                      <span class="m-about-sub"> - Blog</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <img class="m-slider-img" src="assets/app/media/img/sitemodule/defaultfornews.png" alt="Random second slide">
                  </div>
                  <div class="col-md-6">
                    <div>
                      <span class="m-about-sub">11 Mar 2017 - </span>
                      <a href="https://blog.kumolus.com/2017/03/11/introduction-of-integration-to-netapp-oncommand-cloud-manager/" target="_blank">Kumolus now delivering Netapp Storage orchestration via OnCommand Cloud Manager integration</a>
                      <span class="m-about-sub"> - Blog</span>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="row">
                  <div class="col-md-6">
                    <img class="m-slider-img" src="assets/app/media/img/sitemodule/news1.jpg" alt="Random second slide">
                  </div>
                  <div class="col-md-6">
                    <span class="m-about-sub">16 Feb 2017 - </span>
                    <a href="https://www.crn.com.au/feature/how-infrastructure-as-a-service-management-vendor-kumolus-is-thriving-on-indian-investment-451299"
                      target="_blank">How infrastructure-as-a-service management vendor Kumolus is thriving on Indian investment</a>
                    <span class="m-about-sub"> - CRN</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <img class="m-slider-img" src="assets/app/media/img/sitemodule/news2.jpg" alt="Random second slide">
                  </div>
                  <div class="col-md-6">
                    <div>
                      <h6>28 Sep 2016 - </h6>
                      <a href="https://yourstory.com/2016/09/kumolus/" target="_blank">Founded by 2 Australians, Kumolus looks to tap India’s cloud management solutions market</a>
                      <span> - Yourstory</span>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-xl-4">
      <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <div class="m-outer-img">
                <img src="assets/app/media/img/sitemodule/teammate.png" alt="">
                <div class="m-img-text">
                  <h4>Josh McGrath</h4>
                  <span class="text-muted">CEO and Co-Founder</span>
                </div>
                <div class="m-img-text">
                  <div class="social-buttons">
                    <a href="https://twitter.com/joshuamMcGrath" class="social-btn sb-twitter" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/joshua-mcgrath-a19a138/" class="social-btn sb-linkedin" target="_blank"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <div class="m-outer-img">
                <img src="assets/app/media/img/sitemodule/teammate.png" alt="">
                <div class="m-img-text">
                  <h4>Michael Salleo</h4>
                  <span class="text-muted">CEO and Co-Founder</span>
                </div>
                <div class="m-img-text">
                  <div class="social-buttons">
                    <a href="https://twitter.com/joshuamMcGrath" class="social-btn sb-twitter" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/joshua-mcgrath-a19a138/" class="social-btn sb-linkedin" target="_blank"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>